html{
    background-color: red;
}

main {
    text-align: center;
}



.playButton.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;

}

#start{
    cursor: pointer;
}

#timerView{
    text-align: center;
    display: inline;
}

footer{
    background-color: black;
}

footer>p{
    color:white;
    text-align: center;
    font-size: 10px;  
}

#reStart{
    display:none;
    cursor: pointer;
}