html{
    background-color:#ff5d39;
    height: 100vh;
}

main {
    text-align: center;
    
}

body{
    min-height: 100%;
    display:flex;
    flex-direction: column;
    height: 100vh;
}

#start{
    cursor: pointer;
    margin-left: 48.2%;
    margin-right: 48.2%;
}

#timerView{
    text-align: center;
    display: inline;
}

footer{
    background-color: black;
    margin-top: auto;
    margin-left: -2vh ;
    margin-right: -2vh;
    width: auto;
}

footer>p{
    color:white;
    text-align: center;
    font-size: 10px;
}

#reStart{
    display:none;
    cursor: pointer;
    margin-left: 48.2%;
    margin-right: 48.2%;
}

#container {
    margin: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
  }

h1{
    text-align: center;
}

#timerView{
    margin: auto;
    text-align: center;
    margin-top: -38vh;
}

#start #reStart{
    text-align: center;
    margin: auto;
}